body{
    background-image: url("../images/background.jpg");
    background-color: #cccccc;
    color: whitesmoke;
}

.jumbotron{
    color: black;
}

.attack{
    margin-left: 50px;
}

.defend{
    margin-left: 50px;
}

.container-fluid{
    margin-right: auto;
    margin-left: auto;
    display: block;
    float: center;
}

#charCard{
    color: black;
    text-align: center;
    height: 300px;
    width: 300px;
    float: left;
}

.image{
 width: 200px;
}

.scoreboard{
    clear: both;
    margin-left: 50px;
}
.lossboard{
    clear: both;
    margin-left: 50px;
}