.attack{
    margin-left: auto;
}

.defend{
    margin-left: auto;
}

.container-fluid{
    margin-right: auto;
    margin-left: auto;
    display: block;
    float: center;
}

#charCard{
    text-align: center;
    height: 300px;
    float: left;
}

.image{
 width: 200px;
}

